# Ignore Poetry dependency files
#poetry.lock

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.venv/
env/
venv/

# Ignore PyCharm/IntelliJ IDEA settings
.idea/
*.iml

# Pytest caches
.pytest_cache/

# Python caches
__pycache__/
*.pyc
*.pyo


# Ignore temporary databases but NOT the main one
identifier.sqlite

#Ignore log file
.log
